* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 40px;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: aquamarine;
  display: flex;
  align-items: center;
  justify-content: center;
}
.primary {
  background-color: aliceblue;
  padding: 20px;
  border-radius: 80px;
}

.a {
  color: salmon;
}
